# Кэш
har_and_cookies/
*.cache

# Файлы Python
__pycache__/
*.py[cod]
*$py.class

# Файлы окружения
.env

# Логи
*.log

# Временные файлы
*.tmp
*.bak

# Файлы IDE
.idea/
.vscode/

# Зависимости
venv/
env/
virtualenv/

# Файлы базы данных Firebase
#serviceAccountKey.json
# firebase-adminsdk.json