# Кэш и временные файлы
*.cache
*.tmp
*.bak
*.swp
*~
*.orig
*.rej
*.out
*.prof
*.md
har_and_cookies/

# Файлы Python
__pycache__/
*.py[cod]
*$py.class

# Файлы окружения
.env
.env.*
!.env.example

# Логи
*.log
*.log.*
logs/

# Файлы IDE и редакторов
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Виртуальные окружения
venv/
env/
virtualenv/
ENV/
.python-version

# Зависимости и сборки
/dist/
/build/
/*.egg
*.egg-info/

# Системные файлы и ключи
/src/utils/firebase/serviceAccountKey.json
*.pem
*.key
*.crt

# Тестовые файлы и отчёты
/pytest_cache/
*.pytest_cache
/htmlcov/
.coverage
coverage.xml
*.cover
tox/
nox/

# Файлы macOS
.DS_Store

# Файлы Windows
Thumbs.db
ehthumbs.db
guilds.db
Desktop.ini

# Документация и артефакты
/docs/_build/
/site/